/* Pro Code Presenting Custom Styles */

.text-85 { font-size: 0.85em !important; }

.text-darkgray { color: darkgray !important; }

.reveal .slides section .code-presenting-annotation {
  color: lightgray;
  padding: 0px 15px;
  border-radius: 15px;
  opacity: 0.75 !important;
  font-size: 0.6em !important;
}

#title-footer p.footer-hard { color: white; }

#title-footer a { color: white; }

/* GitPitch Pro Fonts Style Imports */
@font-face {
  font-family: 'Montserrat Heavy';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/montserrat-heavy.woff2') format('woff2'),
       url('/assets/fonts/montserrat-heavy.woff') format('woff');
}
.montserrat-heavy,
.montserrat-heavy * {
  text-shadow: none !important;
  text-transform: none !important;
  font-family: "Montserrat Heavy", sans-serif !important;
}

