/* Pro Code Presenting Custom Styles */

.text-85 { font-size: 0.85em !important; }

.text-darkgray { color: darkgray !important; }

/* Global Reveal Pre Code Overrides */

.reveal pre {
  width: 98%;
  margin: 0px;
  box-shadow: none;
}

.reveal pre code {
  border-radius: 10px;
  max-height: 60vh !important;
  overflow: hidden !important;
}


@media (device-width: 100vw) and (device-height: 100vh) {
  .reveal pre code {
    max-height: 50vh !important;
  }
}

.reveal .slides section .code-presenting-annotation {
  color: lightgray;
  padding: 0px 15px;
  border-radius: 15px;
  opacity: 0.75 !important;
  font-size: 0.6em !important;
}

#title-footer p.footer-hard { color: white; }

#title-footer a { color: white; }

/* GitPitch Pro Fonts Style Imports */
@font-face {
  font-family: 'Montserrat Heavy';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/montserrat-heavy.woff2') format('woff2'),
       url('/assets/fonts/montserrat-heavy.woff') format('woff');
}
.montserrat-heavy,
.montserrat-heavy * {
  text-shadow: none !important;
  text-transform: none !important;
  font-family: "Montserrat Heavy", sans-serif !important;
}

